<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>

<properties resource="jdbc.properties"/>
<!-- 数据库配置 
XML 配置文件（configuration XML）
中包含了对 MyBatis 系统的核心设置，
包含获取数据库连接实例的数据源（DataSource）
和决定事务作用域和控制方式的事务管理器（TransactionManager）
-->
<typeAliases>
	<typeAlias type="com.mb.mp.User" alias="user"/>
</typeAliases>
<environments default="development">
	<environment id="development">
		<transactionManager type="JDBC"/>
		<dataSource type="POOLED">
			<property name="driver" value="${driver}"/>
			<property name="url" value="${url}"/>
			<property name="username" value="${username}"/>
			<property name="password" value="${password}"/>
		</dataSource>
	</environment>
</environments>
	<mappers>
		<mapper resource="org/mybatis/first/AdminDao.xml"/>
<!-- 		<mapper resource="com/mb/mp/UserDao.xml"/> -->
	</mappers>
</configuration>
